
<div class="row">
    {{#each result}} 
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
               {{name}} 
               {{age}}      
               {{address}}  
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="/tasks/delete" class="btn btn-danger">
                    Xóa nè
                </a>
                &nbsp;
                <a href="/tasks/edit" class="btn btn-secondary">
                    Sửa nè
                </a>
            </div>
        </div>
    </div>
    {{/each}}

</div>