<div class="jumbotron">
    <h1 class="display-4">TypeScript nè</h1>
    <p class="lead">exprees của Nodejs nè, add và list nè</p>
    <p>Nguyễn Tự Tuyên nè</p>
    <a href="#" class="btn btn-primary">Task 2</a>
</div>